<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome - Orantavee Co.,ltd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/logo.png" /> Orantavee</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="container" >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('slide/asphalt-auto-automobile-170811.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('slide/auto-automobile-automotive-38570.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('slide/automobile-cars-headlights-120049.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container page">
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-3">
          <div class="list">
              <ul class="list-group">
                  <li class="list-group-item">Full Set Gasket</li>
                  <li class="list-group-item">Thrust Washer</li>
                  <li class="list-group-item">Shim Cyl. Head Gasket</li>
                  <li class="list-group-item">Valve Guide</li>
                  <li class="list-group-item">Valve Rocker Cover</li>
                </ul>
          </div>
        </div>
        <div class="col-lg-9" >
          
          <div class="row" >
            <p>At Orantavee Co., LTD. our customers come to us from all over the nation for quality engine parts. We have over 30+ years of industry experience and expertise in engine parts. We take pride on building good relationships with our customers, and take the time to understand any engine issues presented to us and recommend only the appropriate replacement parts. Our extensive product range includes high quality Japanese parts to suit all budgets.</p>
          </div>

          <h2>Experties</h2>
          <div class="row">
            We specialize in heavy duty trucks, pickup trucks, agricultural tractors, sport utility vehicles, passenger vehicles, compressors and power generators.
          </div>

          <h2>Brand</h2>
          <div class="row" >
            <div class="col-lg-6 mb-4">
              <div class="brand h-100">
                <img src="images/maruboshi-01.jpg" class="img-thumbnail" />
                <h4 class="brand-header">Maruboshi</h4>                
                <p>Maruboshi gaskets are produced according to OEM standards using a sophisticated process that provides a precise, determined compression. This ensures a perfect seal every time.</p>
              </div>
            </div>
            
            <div class="col-lg-6 mb-4">
                <div class="brand h-100">
                  <img src="images/guez1-01.jpg" class="img-thumbnail" />
                  <h4 class="brand-header">Guez</h4>                
                  <p>Guez engine gaskets are manufactured from the highest quality materials and feature a superior design that performs under pressure and provides a long lasting seal for heavy duty vehicles. The full set consists of every gasket component the technician needs to overhaul cylinder heads.</p>
                </div>
              </div>

            <div class="col-lg-6 mb-4">
              <div class="brand h-100">
                <img src="images/maruboshi-01.jpg" class="img-thumbnail" />
                <h4 class="brand-header">Nippon Ota</h4>                
                <p>Nippon Ota gaskets feature an unique collection of enhancements that create a stronger combustion seal. This ensures superior performance and longevity under the toughest conditions. Nippon Ota has a wide range of specialties for commercial and non-commercial vehicle engine models to choose from.</p>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="brand h-100">
                  <img src="images/tonyco-01.jpg" class="img-thumbnail" />
                  <h4 class="brand-header">Tonyco</h4>                
                  <p>Tonyco specialised in producing the best quality diesel gaskets for trucks, buses and heavy equipment. Our products are made by the high quality materials imported from Japan and the USA according to OEM standards and pass our strictest quality controls.</p>
                </div>
              </div>

            <div class="col-lg-6 mb-4">
              <div class="brand h-100">
                <img src="images/toppiston-01.jpg" class="img-thumbnail" />
                <h4 class="brand-header">Top</h4>                
                <p>Top's pistons are designed with sophisticated technology and best in class architecture to withstand extreme conditions. This results in the strength and toughness that only high quality pistons can provide. These pistons feature gallery cooling and anodizing coating where necessary. Top offers a wide range of pistons for both light and heavy-duty vehicles. Their piston kit consists of everything a technician needs to complete a rebuild.</p>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="brand h-100">
                  <img src="images/suisun1-01.jpg" class="img-thumbnail" />
                  <h4 class="brand-header">Suisun</h4>                
                  <p>Suisun provides best in-class pistons, designed using leading technology to ensure outstanding quality and performance. Suisun offers wide a variety of products for nearly every popular vehicle and application in the market.</p>
                </div>
              </div>

              <div class="col-lg-6 mb-4">
                  <div class="brand h-100">
                    <img src="images/omiya-01.jpg" class="img-thumbnail" />
                    <h4 class="brand-header">Omiya</h4>                
                    <p>Omiya provides excellent quality wet and dry cylinder liners. Omiya liners are manufactured using the best materials to deliver superior bonding, reduced distortion, increased oil retention. Outer chrome plating is used to prevent cavitation. Omiya offers an extensive range of liners for all type of engines, tractors, cars, commercial vehicles and generators.</p>
                  </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="brand h-100">
                      <img src="images/Chromed-1.jpg" class="img-thumbnail" />
                      <h4 class="brand-header">Chromed</h4>                
                      <p>Chromed cylinder liners are manufactured using high quality materials to provide wear & corrosion resistance for optimum durability. Chromed cylinders are designed to provide the best performance in extreme running conditions. The Chromed product range is tailored for light trucks and mid-range commercial vehicles.</p>
                    </div>
                  </div>
          </div>        
          <!-- /.row -->    
      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>We specialize in heavy duty trucks, pickup trucks, agricultural tractors, sport utility vehicles, passenger vehicles, compressors and power generators.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>
    </div>
  </div>
    </div>
    <!-- /.container -->


    <div class="container" >
        <div class="row">
            
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="text-white">Copyright &copy; Orantavee 2018</p>
        <p class="text-white">38-40 Yukol 1 Rd, Khwaeng Wat Thepsirin, Khet Pom Prap Sattru Phai, Bangkok 10100</p>
        <p class="text-white">+66 2 222-9429, +66 2 225-3706</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
